<!DOCTYPE html>

<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <Title> Home Page </Title>
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/styles.css') }}"> 
</head>

<body>
    <button class = "logoutButton" onclick = "location.href = '/'"> Log Out </button> </button>
    <div class = "textButton">
        <button class = "homeButton" onclick = "location.href = '/load'"> Load/Unload </button>
        <button class = "homeButton" onclick = "location.href = '/balance'"> Balance Ship </button>
    </div>
</body>