<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> 
</head>

<body>
    <div class="signInPage">
        <form class="signInForm" action="/" method="POST">
            <input type="text" class="signInInput" placeholder="Enter Your Name" name="username" required>
            <button class="signInButton" type="submit">Sign In</button>
        </form>
    </div>
</body>
</html>
