<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploading Manifest</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <header>
        <nav>
            <div class="log-file">
                <button class="close-year" onclick="openPassCloseYear()">Close Year</button>
                <button class="download-log" onclick="openPassDownloadLog()">Log File</button>
            </div>

            <button class="sign-in-button modal-button" onclick="document.getElementById('sign-in-modal').style.display='block'"> Sign In </button> 
        </nav>
    </header>

    <div class="uploadContainer">
        <form method="POST" enctype="multipart/form-data" style="position: relative;">
            <label for="fileUpload">Upload Manifest file:</label>
            <input type="file" name="fileUpload" id="fileUpload" class="uploadButton" accept=".txt" required>
            <button type="submit" class="submitButton">Submit</button>
        </form>
    </div>
    

    <div id="close-year-modal" class="modal">
        <div class="content-background">
            <div class="modal-content">
                <p>Are you sure you want to close the year?</p>
                <div class="close-buttons">
                    <button class="confirm-close" onclick="confirmCloseYear()">Yes</button>
                    <button class="cancel-close" onclick="document.getElementById('close-year-modal').style.display = 'none'">No</button>
                </div>
            </div>
        </div>
    </div>

    <div id = "password-modal" class = "modal">
        <div class = "content-background">
            <div class = "modal-content">
                <h2>Enter Password</h2>
                <form id = "password-form" method = "POST">
                    <label for = "password-input">Password:</label>
                    <input type = "password" id = "password-input" class = "usernameInput" placeholder="Enter password" required>
                    <div class = "close-buttons">
                        <button type = "submit" class = "confirm-close">Confirm</button>
                        <button type = "button" class = "cancel-close" onclick = "closePasswordModal()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id = "sign-in-modal" class = "modal">
        <div class="content-background">
            <div class = "modal-content">
                <h2> Sign In </h2>
                <form method = "POST" action = "/home">
                    <label for = "username"> Enter Your Name: </label>
                    <input type = "text" name = "username" class = "usernameInput" required>
                    <button type = "submit" class = "sign-in-button" onclick="document.getElementById('sign-in-modal').style.display='none'"> Sign In </button>
                </form>
            </div>
        </div>
    </div>

    <script>
        window.onclick = function(event) {
            if (event.target == document.getElementById('sign-in-modal')) {
                document.getElementById('sign-in-modal').style.display = "none";
            }
        }
    
        function confirmCloseYear() {
            fetch('/logout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({action: 'Log Closed'}),
            });
            window.location.href = '/';
        }
        function clearCommentBox() {
            setTimeout(() => {
                const commentBox = document.getElementById('commentBox');
                if (commentBox) {
                    commentBox.value = ''; 
                }
            },100);
        }
        function openPassCloseYear() {
        document.getElementById('password-modal').style.display = 'block';
        document.getElementById('password-form').onsubmit = function(event){
            event.preventDefault();
            password = document.getElementById('password-input').value;
            if (password === "keogh123"){
                closePasswordModal();
                confirmCloseYear();
            }
            else{
                alert("Incorrect password");
            }
            password = document.getElementById('password-input').value = "";
        };
        }
        function openPassDownloadLog() {
            document.getElementById('password-modal').style.display = 'block';
            document.getElementById('password-form').onsubmit = function(event){
                event.preventDefault();
                password = document.getElementById('password-input').value;
                if (password === "keogh123"){
                    closePasswordModal();
                    location.href = '/download'
                }
                else{
                    alert("Incorrect password");
                }
                password = document.getElementById('password-input').value = "";
            };
        }
        function closePasswordModal() {
            document.getElementById('password-modal').style.display = 'none';
        }
    </script>

    <footer>
        <div class="comment-section">
            <p>Add comment</p>
            <form method="POST" action="/add_comment" onsubmit="clearCommentBox()">
                <textarea id = "commentBox" name="comment" placeholder="Type your comment here..." rows="4" cols="150" required ></textarea>
                <button type="submit" class="add-comment-button">Add Comment</button>
            </form>
        </div>
    </footer>
</body>
</html>
